
## macOS ##
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

## Xcode ##
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Workspace data
xcuserdata/
*.xcworkspace/xcuserdata

## Swift Package Manager ##
.build/
Packages/
Package.resolved

## CocoaPods ##
Pods/
Podfile.lock

## Carthage ##
Carthage/
Carthage/Build/

## SwiftPM Xcode integration ##
.xcodeproj/project.xcworkspace/xcuserdata
.xcodeproj/xcuserdata

## Firebase Crashlytics ##
*.dSYM.zip
*.dSYM

## Fastlane ##
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Other ##
*.moved-aside
*.hmap
*.ipa
*.xcuserdatad
*.orig
*.lock

## Logs and temporary files ##
*.log
*.tmp
*.swp
*.bak
*.backup
*.xcarchive

# Xcode 14 build artefacts
*.xcframework

# SwiftPM cache
.swiftpm/xcode

# SPM binary artifacts
Artifacts/

# Env files
.env

# Firebase

GoogleService-Info.plist
